@page "/product"

@using ClientApp.Pages.Popup
@using System.Net.Http.Headers
@inject HttpClient HttpClient
@inject NavigationManager NavigationManager
@inject IJSRuntime IJSRuntime

<h3>Product</h3>

@if (getDataError)
{
    <p>Unable to get data.</p>
}
else if (products is null)
{
    <div id="app">
        <svg class="loading-progress">
            <circle r="40%" cx="50%" cy="50%" />
            <circle r="40%" cx="50%" cy="50%" />
        </svg>
        <div class="loading-progress-text"></div>
    </div>
}
else
{
    <a class="btn btn-info" href="product/create">Create Product</a>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Product Id</th>
                <th scope="col">Product Code</th>
                <th scope="col">Product Name</th>
                <th scope="col">Unit Price</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in products)
            {
                <tr>
                    <td>@product.ProductId</td>
                    <td>@product.ProductCode</td>
                    <td>@product.ProductName</td>
                    <td>@product.UnitPrice</td>
                    <td>
                        <a class="btn btn-default" href="/product/detail/@product.ProductId">Detail</a>
                        <a class="btn btn-primary" href="/product/edit/@product.ProductId">Edit</a>
                        <button class="btn btn-danger" @onclick="() => ConfirmDelete(product.ProductId)">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <Popup @ref="popup"
           Title="Delete Confirmation"
           OnConfirm="() => OnConfirmPopup(currentDeleteProductId)">
        @if (warehouseProducts != null && warehouseProducts.Count() > 0)
        {
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Warehouse Id</th>
                        <th scope="col">Warehouse Name</th>
                        <th scope="col">Product Id</th>
                        <th scope="col">Product Name</th>
                        <th scope="col">Stock Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var warehouseProduct in warehouseProducts)
                    {
                        <tr>
                            <td>@warehouseProduct.WarehouseId</td>
                            <td>@warehouseProduct.WarehouseName</td>
                            <td>@warehouseProduct.ProductId</td>
                            <td>@warehouseProduct.ProductName</td>
                            <td>@warehouseProduct.StockQuantity</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>Are you sure you want to delete this product?</p>
        }

        @if (invoiceDetails != null && invoiceDetails.Count() > 0) {
            <p>This product is in invoice. Can not delete</p>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Invoice Id</th>
                        <th scope="col">Product Id</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var invoiceDetail in invoiceDetails)
                    {
                        <tr>
                            <td>@invoiceDetail.InvoiceId</td>
                            <td>@invoiceDetail.ProductId</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </Popup>
}

@code {
    private IEnumerable<ProductUiModel>? products;
    private IEnumerable<WarehouseProductUiModel>? warehouseProducts;
    private IEnumerable<InvoiceDetailUiModel>? invoiceDetails;
    private bool getDataError;
    private int currentDeleteProductId;
    private Popup? popup;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var token = await IJSRuntime.InvokeAsync<string>("localStorage.getItem", "token");
            var request = new HttpRequestMessage(HttpMethod.Get, "api/products");
            request.Headers.Add("Authorization", $"Bearer {token}");

            var response = await HttpClient.SendAsync(request);

            if (response.IsSuccessStatusCode)
            {
                products = await response.Content.ReadFromJsonAsync<IEnumerable<ProductUiModel>>();
            }
            else
            {
                getDataError = true;
            }
        }
        catch (Exception)
        {
            getDataError = true;
        }
    }

    private async Task ConfirmDelete(int productId)
    {
        currentDeleteProductId = productId;

        var warehouseResponse = await HttpClient.GetAsync($"api/products/{productId}/warehouses");
        var invoiceDetailsResponse = await HttpClient.GetAsync($"api/products/{productId}/invoicedetails");

        if (warehouseResponse.IsSuccessStatusCode)
        {
            warehouseProducts = await warehouseResponse.Content.ReadFromJsonAsync<IEnumerable<WarehouseProductUiModel>>();
        }
        else
        {
            warehouseProducts = null;
            popup.ShowConfirmButton = true;
        }

        if (invoiceDetailsResponse.IsSuccessStatusCode)
        {
            invoiceDetails = await invoiceDetailsResponse.Content.ReadFromJsonAsync<IEnumerable<InvoiceDetailUiModel>>();
        }
        else
        {
            warehouseProducts = null;
            popup.ShowConfirmButton = true;
        }

        if (invoiceDetails != null && invoiceDetails.Count() > 0)
        {
            popup.ShowConfirmButton = false;
        }
        else
        {
            popup.ShowConfirmButton = true;
        }

        

        popup?.Show();
    }

    private async Task OnConfirmPopup(int productId)
    {
        await DeleteProduct(productId);
    }

    private async Task DeleteProduct(int productId)
    {
        var token = await IJSRuntime.InvokeAsync<string>("localStorage.getItem", "token");
        HttpClient.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", token);
        var request = await HttpClient.DeleteAsync($"api/products/{productId}");
        if (request.IsSuccessStatusCode)
        {
            NavigationManager.NavigateTo("/product", true);
        }
        else
        {
            getDataError = true;
        }
    }
}
