@page "/warehouse"

@using ClientApp.Pages.Popup
@using System.Net.Http.Headers
@inject HttpClient HttpClient
@inject NavigationManager NavigationManager
@inject IJSRuntime IJSRuntime

<h3>Warehouse</h3>

@if (getDataError)
{
    <p>Unable to get data.</p>
}
else if (warehouses is null)
{
    <div id="app">
        <svg class="loading-progress">
            <circle r="40%" cx="50%" cy="50%" />
            <circle r="40%" cx="50%" cy="50%" />
        </svg>
        <div class="loading-progress-text"></div>
    </div>
}
else
{
    <a class="btn btn-info" href="warehouse/create">Create Warehouse</a>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Warehouse Id</th>
                <th scope="col">Warehouse Code</th>
                <th scope="col">Warehouse Name</th>
                <th scope="col">Location</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var warehouse in warehouses)
            {
                <tr>
                    <td>@warehouse.WarehouseId</td>
                    <td>@warehouse.WarehouseCode</td>
                    <td>@warehouse.WarehouseName</td>
                    <td>@warehouse.Location</td>
                    <td>
                        <a class="btn btn-primary" href="warehouse/edit/@warehouse.WarehouseId">Edit</a>
                        <button class="btn btn-danger" @onclick="() => ConfirmDelete(warehouse.WarehouseId)">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <Popup @ref="popup"
           Title="Delete Confirmation"
           OnConfirm="() => OnConfirmPopup(currentDeleteWarehouseId)">
        @if (warehouseProducts != null && warehouseProducts.Count() > 0)
        {
            <p>This warehouse have products. Can not delete</p>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Product Id</th>
                        <th scope="col">Product Name</th>
                        <th scope="col">Warehouse Id</th>
                        <th scope="col">Warehouse Name</th>
                        <th scope="col">Stock Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var warehouseProduct in warehouseProducts)
                    {
                        <tr>
                            <td>@warehouseProduct.ProductId</td>
                            <td>@warehouseProduct.ProductName</td>
                            <td>@warehouseProduct.WarehouseId</td>
                            <td>@warehouseProduct.WarehouseName</td>
                            <td>@warehouseProduct.StockQuantity</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>Are you sure you want to delete this product?</p>
        }
    </Popup>
}

@code {
    private IEnumerable<WarehouseUiModel>? warehouses;
    private IEnumerable<WarehouseProductUiModel>? warehouseProducts;
    private bool getDataError;
    private bool shouldRender;
    private int currentDeleteWarehouseId;
    private Popup? popup;

    protected override bool ShouldRender() => shouldRender;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var request = await HttpClient.GetAsync("api/warehouses");
            if (request.IsSuccessStatusCode)
            {
                warehouses = await request.Content.ReadFromJsonAsync<IEnumerable<WarehouseUiModel>>();
            }
            else
            {
                getDataError = true;
            }
            shouldRender = true;
        }
        catch (Exception)
        {
            getDataError = true;
        }
    }

    private async Task ConfirmDelete(int warehouseId)
    {
        currentDeleteWarehouseId = warehouseId;

        var request = await HttpClient.GetAsync($"api/warehouses/{warehouseId}/products");
        if (request.IsSuccessStatusCode)
        {
            warehouseProducts = await request.Content.ReadFromJsonAsync<IEnumerable<WarehouseProductUiModel>>();

            if (warehouseProducts != null && warehouseProducts.Count() > 0)
            {
                popup.ShowConfirmButton = false;
            }
            else
            {
                popup.ShowConfirmButton = true;
            }
        }
        else
        {
            warehouseProducts = null;
            popup.ShowConfirmButton = true;
        }

        popup?.Show();
    }

    private async Task OnConfirmPopup(int warehouseId)
    {
        await DeleteProduct(warehouseId);
    }

    private async Task DeleteProduct(int warehouseId)
    {
        var token = await IJSRuntime.InvokeAsync<string>("localStorage.getItem", "token");
        HttpClient.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", token);
        var request = await HttpClient.DeleteAsync($"api/warehouses/{warehouseId}");
        if (request.IsSuccessStatusCode)
        {
            NavigationManager.NavigateTo("/warehouse", true);
        }
        else
        {
            getDataError = true;
        }
    }
}
